
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# C extensions
*.so

# Distribution / packaging
.Python
/*.ogg/
/venv/
/app.env
/finish_files
/.idea
/sert/
.env