[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-asyncio = "==0.16.0"
psycopg = "*"
psycopg2-binary = "*"
aiogram = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.9"
