[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pydantic = "*"
python-dotenv = "*"
sqlalchemy = "*"
asyncpg = "*"
greenlet = "*"
pydub = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
alembic = "*"

[requires]
python_version = "3.10"
