[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = "*"
psycopg2-binary = "*"
aiogram = "*"
gunicorn = "*"
sqlalchemy = "*"
pydantic = "*"
asyncpg = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
